/* HomeMenu (Home | Sitemap | Contact us | ���媩) ���� */
#homeMenu {
	left: 19px;
	top: 82px;
}

/* Logo ���� */
#header {
  background-image: url(../images/main_logo.jpg);
}

/* RightMenu (�u��^) ���� */
#right_menu_1 {
	height: 18px;
}

/* Humble (�����) ���� */
#humble {
	top: 101px;
}
#humblerH2 {
	height: 0px;
	min-height: inherit;
}

/* Slinding Image (�j�ϼs�i) ���� */
#main2_1_slidingimg {
  display: none;
}

/* ���å��� Other link ���� */
#main2_3 {
  display: none;
}

/* ��ܥk�� Other link ���� */
#rightOtherlink {
  display: block;
}
#news {
	display: block;
	list-style-type: square;
	color: #003;
	font-size: 14px;
	line-height: 1.8em;
}
#news li {
	width: 100%;
}
#news li .date {
	margin-right: 15px;
	font-size: 12px;
}

#news li a{
	text-decoration: none;
    color: black;
}